<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WinFormsApp1.Properties.Settings.QuanLySinhVienConnectionString"
            connectionString="Data Source=DoTienLoc;Initial Catalog=QuanLySinhVien;User ID=sa;Password=123456;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="WinFormsApp1.Properties.Settings.QuanLySinhVienConnectionString1"
            connectionString="Data Source=DoTienLoc;Initial Catalog=QuanLySinhVien;Persist Security Info=True;User ID=sa;Password=123456;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>